interactions:
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNetworkSecurityPerimeter"}'
=======
    body: '{"location": "eastus2euap"}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '67'
=======
      - '27'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --name -l --resource-group
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter?api-version=2023-08-01-preview
  response:
    body:
      string: '{"name":"TestNetworkSecurityPerimeter","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter","location":"eastus2euap","type":"Microsoft.Network/networkSecurityPerimeters","tags":{},"etag":"","properties":{"perimeterGuid":"26e9edf0-0842-41aa-9991-c4e7a4dcdba4","provisioningState":"Succeeded"}}'
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter?api-version=2024-07-01
  response:
    body:
      string: '{"name":"TestNetworkSecurityPerimeter","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter","location":"eastus2euap","type":"Microsoft.Network/networkSecurityPerimeters","tags":{},"etag":"","properties":{"perimeterGuid":"63462e88-ae3b-4ce1-9b67-6c3c11e55e5e","provisioningState":"Succeeded"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 29 Nov 2024 07:09:20 GMT
=======
      - Fri, 21 Mar 2025 14:45:46 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: C8D580BE3C9E4DE9B41192D4A9C63CFA Ref B: MNZ221060619029 Ref C: 2024-11-29T07:09:19Z'
=======
      - 'Ref A: 064A6D67B71A470FAA59E89B96F97ABF Ref B: MNZ221060608027 Ref C: 2025-03-21T14:45:46Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"enabledLogCategories": ["NspPublicInboundPerimeterRulesDenied"]}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance?api-version=2023-08-01-preview
  response:
    body:
      string: '{"name":"instance","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance","type":"Microsoft.Network/networkSecurityPerimeters/loggingConfigurations","properties":{"version":"1","enabledLogCategories":["NspPublicInboundPerimeterRulesDenied"]}}'
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance?api-version=2024-07-01
  response:
    body:
      string: '{"name":"instance","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance","type":"Microsoft.Network/networkSecurityPerimeters/loggingConfigurations","properties":{"version":"1","enabledLogCategories":["NspPublicInboundPerimeterRulesDenied"],"destinationType":[]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '417'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 29 Nov 2024 07:09:21 GMT
=======
      - '438'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 21 Mar 2025 14:45:47 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: B0AD18223F2D488B919CE0D2F3F6C970 Ref B: MNZ221060618051 Ref C: 2024-11-29T07:09:21Z'
=======
      - 'Ref A: E584A86C998545D09E11707E8541B740 Ref B: MNZ221060619053 Ref C: 2025-03-21T14:45:46Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance?api-version=2023-08-01-preview
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance?api-version=2024-07-01
>>>>>>> upstream/main
  response:
    body:
      string: '{"error":{"message":"Resource [/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_logging_configuration_crud000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/loggingConfigurations/instance]
        does not exist or has been deleted","code":"NotFound"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 29 Nov 2024 07:09:30 GMT
=======
      - Fri, 21 Mar 2025 14:45:55 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 0085CEA4E05B40F59BD922427D50088C Ref B: MNZ221060608017 Ref C: 2024-11-29T07:09:29Z'
=======
      - 'Ref A: 5894D58534874FAF89AF1D3A0427AE9E Ref B: MNZ221060608017 Ref C: 2025-03-21T14:45:55Z'
>>>>>>> upstream/main
    status:
      code: 404
      message: Not Found
version: 1
