interactions:
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNetworkSecurityPerimeter"}'
=======
    body: '{"location": "eastus2euap"}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '67'
=======
      - '27'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --name -l --resource-group
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter?api-version=2023-08-01-preview
  response:
    body:
      string: '{"name":"TestNetworkSecurityPerimeter","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter","location":"eastus2euap","type":"Microsoft.Network/networkSecurityPerimeters","tags":{},"etag":"","properties":{"perimeterGuid":"7cd3a36c-8ad5-4503-89b7-0e22878a62d7","provisioningState":"Succeeded"}}'
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter?api-version=2024-07-01
  response:
    body:
      string: '{"name":"TestNetworkSecurityPerimeter","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter","location":"eastus2euap","type":"Microsoft.Network/networkSecurityPerimeters","tags":{},"etag":"","properties":{"perimeterGuid":"6a40804b-e7df-4619-b65a-c582f20c9fb0","provisioningState":"Succeeded"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 29 Nov 2024 07:09:19 GMT
=======
      - Fri, 21 Mar 2025 14:45:45 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 9B7FCEB19035470F8D4789DF2D72135D Ref B: MNZ221060618009 Ref C: 2024-11-29T07:09:19Z'
=======
      - 'Ref A: 33049E0BB2EB480E8BC9248D51C42A5E Ref B: MNZ221060619019 Ref C: 2025-03-21T14:45:45Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_nsp_accessrule_inbound000001?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001","name":"test_nsp_accessrule_inbound000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_nsp_accessrule_inbound","date":"2024-11-29T07:09:15Z","module":"nsp","Created":"2024-11-29T07:09:16.9897449Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001","name":"test_nsp_accessrule_inbound000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_nsp_accessrule_inbound","date":"2025-03-21T14:45:42Z","module":"nsp","Created":"2025-03-21T14:45:43.6078795Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 29 Nov 2024 07:09:20 GMT
=======
      - Fri, 21 Mar 2025 14:45:46 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: F8783D54F2D44AC7A60684F4BDDA9658 Ref B: MNZ221060610045 Ref C: 2024-11-29T07:09:20Z'
=======
      - 'Ref A: F6B01AC6E1014E09959A1257D44E7EF7 Ref B: MNZ221060609025 Ref C: 2025-03-21T14:45:46Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspProfile"}'
=======
    body: '{"location": "eastus2euap"}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '53'
=======
      - '27'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --name --perimeter-name --resource-group
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    me[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspAccessRule_ip", "properties":
      {"addressPrefixes": ["10.10.0.0/16"]}}'
=======
    body: '{"location": "eastus2euap", "properties": {"addressPrefixes": ["10.10.0.0/16"]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '112'
=======
      - '80'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --name --profile-name --perimeter-name --resource-group --address-prefixes
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/profiles/TestNspProfile/accessRules/TestNspAccessRule_ip?api-version=2023-08-01-preview
  response:
    body:
      string: '{"name":"TestNspAccessRule_ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/profiles/TestNspProfile/accessRules/TestNspAccessRule_ip","type":"Microsoft.Network/networkSecurityPerimeters/profiles/accessRules","properties":{"provisioningState":"Succeeded","direction":"Inbound","addressPrefixes":["10.10.0.0/16"],"fullyQualifiedDomainNames":[],"subscriptions":[],"networkSecurityPerimeters":[],"emailAddresses":[],"phoneNumbers":[]}}'
=======
      - AZURECLI/2.70.0 azsdk-python-core/1.31.0 Python/3.12.9 (Windows-11-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/profiles/TestNspProfile/accessRules/TestNspAccessRule_ip?api-version=2024-07-01
  response:
    body:
      string: '{"name":"TestNspAccessRule_ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_nsp_accessrule_inbound000001/providers/Microsoft.Network/networkSecurityPerimeters/TestNetworkSecurityPerimeter/profiles/TestNspProfile/accessRules/TestNspAccessRule_ip","type":"Microsoft.Network/networkSecurityPerimeters/profiles/accessRules","properties":{"provisioningState":"Succeeded","direction":"Inbound","addressPrefixes":["10.10.0.0/16"],"fullyQualifiedDomainNames":[],"subscriptions":[],"networkSecurityPerimeters":[],"emailAddresses":[],"phoneNumbers":[],"appliesTo":[{"resourceType":"*","features":["*"]}]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '576'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 29 Nov 2024 07:09:23 GMT
=======
      - '628'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 21 Mar 2025 14:45:48 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 3C75E5DB891547E49FAB21329F4DF1BB Ref B: MNZ221060610029 Ref C: 2024-11-29T07:09:21Z'
=======
      - 'Ref A: 5FB85CC4ABEE4A168D9DBF9016FB91BB Ref B: MNZ221060610033 Ref C: 2025-03-21T14:45:48Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspAccessRule_subscription", "properties":
      {"subscriptions": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000"}]}}'
=======
    body: '{"location": "eastus2euap", "properties": {"subscriptions": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000"}]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '167'
=======
      - '125'
>>>>>>> upstream/main
      Content-Type:
      - ap[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspAccessRule_email", "properties":
      {"direction": "Outbound", "emailAddresses": ["abc@microsoft.com", "bcd@microsoft.com"]}}'
=======
    body: '{"location": "eastus2euap", "properties": {"direction": "Outbound", "emailAddresses":
      ["abc@microsoft.com", "bcd@microsoft.com"]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '165'
=======
      - '130'
>>>>>>> upstream/main
      Content-Type:
[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspAccessRule_sms", "properties":
      {"direction": "Outbound", "phoneNumbers": ["+919898989898", "+929898989898"]}}'
=======
    body: '{"location": "eastus2euap", "properties": {"direction": "Outbound", "phoneNumbers":
      ["+919898989898", "+929898989898"]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '153'
=======
      - '120'
>>>>>>> upstream/main
      Content-Type:
      - application/js[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus2euap", "name": "TestNspAccessRule_servicetag", "properties":
      {"serviceTags": ["MicrosoftPublicIPSpace"]}}'
=======
    body: '{"location": "eastus2euap", "properties": {"serviceTags": ["MicrosoftPublicIPSpace"]}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '126'
=======
      - '86'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --name --profile-name --perimeter-name --resource-group --service-tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.12.7 (Wind[...]
