interactions:
- request:
<<<<<<< HEAD
    body: '{"location": "eastus", "tags": {"aKey": "aValue", "anotherKey": "anotherValue"},
      "properties": {"lenses": {"0": {"order": 0, "parts": {"0": {"position": {"x":
      6, "y": 2, "rowSpan": 2, "colSpan": 2}, "metadata": {"inputs": [], "type": "Extension/HubsExtension/PartType/ClockPart",
      "settings": {}}}}}}, "metadata": {"model": {"timeRange": {"value": {"relative":
      {"duration": 24, "timeUnit": 1}}, "type": "MsPortalFx.Composition.Configuration.ValueTypes.TimeRange"}}}}}'
=======
    body: '{"location": "eastus", "properties": {"lenses": [{"order": 0, "parts":
      [{"metadata": {"inputs": [], "settings": {}, "type": "Extension/HubsExtension/PartType/MarkdownPart"},
      "position": {"colSpan": 5, "rowSpan": 3, "x": 0, "y": 0}}]}], "metadata": {"model":
      {"timeRange": {"type": "MsPortalFx.Composition.Configuration.ValueTypes.TimeRange",
      "value": {"relative": {"duration": 24, "timeUnit": 1}}}}}}, "tags": {"aKey":
      "aValue", "anotherKey": "anotherValue"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '466'
=======
      - '459'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --location --input-path --tags --name --resource-group
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.37.0 azsdk-python-core/1.21.1 Python/3.7.4 (Windows-10-10.0.19041-SP0)
        azsdk-python-portal/unknown
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli_test_000002?api-version=2019-01-01-preview
  response:
    body:
      string: '{"properties":{"lenses":{"0":{"order":0,"parts":{"0":{"position":{"x":6,"y":2,"rowSpan":2,"colSpan":2},"metadata":{"inputs":[],"type":"Extension/HubsExtension/PartType/ClockPart","settings":{}}}}}},"metadata":{"model":{"timeRange":{"value":{"relative":{"duration":24,"timeUnit":1}},"type":"MsPortalFx.Composition.Configuration.ValueTypes.TimeRange"}}}},"location":"eastus","tags":{"aKey":"aValue","anotherKey":"anotherValue"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli_test_000002","name":"cli_test_000002","type":"Microsoft.Portal/dashboards"}'
=======
      - AZURECLI/2.72.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.26100-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli-test-000002?api-version=2022-12-01-preview
  response:
    body:
      string: '{"properties":{"lenses":[{"order":0,"parts":[{"position":{"x":0,"y":0,"rowSpan":3,"colSpan":5},"metadata":{"inputs":[],"settings":{},"type":"Extension/HubsExtension/PartType/MarkdownPart"}}]}],"metadata":{"model":{"timeRange":{"type":"MsPortalFx.Composition.Configuration.ValueTypes.TimeRange","value":{"relative":{"duration":24,"timeUnit":1}}}}}},"location":"eastus","tags":{"aKey":"aValue","anotherKey":"anotherValue"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli-test-000002","name":"cli-test-000002","type":"Microsoft.Portal/dashboards"}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '632'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 02 Aug 2022 10:42:47 GMT
=======
      - '627'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 09 May 2025 04:40:13 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      set-cookie:
<<<<<<< HEAD
      - browserId=8e6a627d-9add-4f1c-89f8-81686c0c9984; domain=portal.azure.com; path=/;
=======
      - browserId=c8c80e27-50dd-490d-80ad-09235383cc56; domain=portal.azure.com; path=/;
>>>>>>> upstream/main
        secure; HttpOnly; SameSite=None
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-azure-ref:
<<<<<<< HEAD
      - 0pP/oYgAAAAAvOkfuKOwqTqMVcOfBRyEoU0cyRURHRTI4MDgAMzViNjM2MGItYjYxYi00Yzc2LWJmN2QtZjU4M2Y4ODQxOWY5
=======
      - 20250509T044011Z-r17fcd87b6d864mrhC1SG1ysb000000001n000000000v6bu
>>>>>>> upstream/main
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-dashboard-session:
<<<<<<< HEAD
      - 3:-1#2636336
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-version:
      - 10.83.0.1 (dev#11dc70c60e.220720-1800) Signed
=======
      - 3:-1#64020010
      x-ms-operation-identifier:
      - tenantId=b5ee6c06-c2c2-4e3c-8606-5f170cee077a,objectId=192e3e2b-8cd9-4e68-aa85-5d89980e81ce/southeastasia/92a53657-9db0-4992-9e5c-fd60f90344af
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-version:
      - 15.219.6.1
      x-msedge-ref:
      - 'Ref A: 2205571B2BD24E11AC56238D82AF8E9F Ref B: MAA201060514017 Ref C: 2025-05-09T04:40:09Z'
>>>>>>> upstream/main
      x-ua-compatible:
      - IE=edge
      x-xss-protection:
      - 1; mode=block
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.37.0 azsdk-python-core/1.21.1 Python/3.7.4 (Windows-10-10.0.19041-SP0)
        azsdk-python-portal/unknown
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"lenses":{"0":{"order":0,"parts":{"0":{"position":{"x":[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - portal dashboard list
      Connection:
      - keep-alive
      ParameterSetName:
      - --resource-group
      User-Agent:
      - AZURECLI/2.37.0 azsdk-python-core/1.21.1 Python/3.7.4 (Windows-10-10.0.19041-SP0)
        azsdk-python-portal/unknown
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Portal/dashboards?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"lenses":{"0":{"order":0,"parts":{"0":{"position":{[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.37.0 azsdk-python-core/1.21.1 Python/3.7.4 (Windows-10-10.0.19041-SP0)
        azsdk-python-portal/unknown
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli_test_000002?api-version=2019-01-01-preview
=======
      - AZURECLI/2.72.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.26100-SP0)
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001/providers/Microsoft.Portal/dashboards/cli-test-000002?api-version=2022-12-01-preview
>>>>>>> upstream/main
  response:
    body:
      string: 'null'
    headers:
<<<<<<< HEAD
=======
      accept-ranges:
      - bytes
>>>>>>> upstream/main
      cache-control:
      - no-cache
      content-length:
      - '4'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Tue, 02 Aug 2022 10:42:55 GMT
=======
      - Fri, 09 May 2025 04:40:22 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      set-cookie:
<<<<<<< HEAD
      - browserId=21623eea-9cc0-474c-98c5-23d6f146c7b3; domain=portal.azure.com; path=/;
        secure; HttpOnly; SameSite=None
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-azure-ref:
      - 0rP/oYgAAAADOEmxgvac0Rptm6au/jyRmU0dFRURHRTA5MTUAMzViNjM2MGItYjYxYi00Yzc2LWJmN2QtZjU4M2Y4ODQxOWY5
=======
      - browserId=65bafe75-e927-4bb9-a632-9a7fe9e16c53; domain=portal.azure.com; path=/;
        secure; HttpOnly; SameSite=None
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-azure-ref:
      - 20250509T044020Z-15c7c745999k22g6hC1HYDpc2w00000002qg000000004rwp
>>>>>>> upstream/main
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-dashboard-session:
<<<<<<< HEAD
      - 3:-1#2636338
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-version:
      - 10.83.0.1 (dev#11dc70c60e.220720-1800) Signed
=======
      - 3:-1#64020012
      x-ms-operation-identifier:
      - tenantId=b5ee6c06-c2c2-4e3c-8606-5f170cee077a,objectId=192e3e2b-8cd9-4e68-aa85-5d89980e81ce/southeastasia/906b1ffa-5201-4092-9663-4da475c72bca
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
      x-ms-version:
      - 15.190.16.1
      x-msedge-ref:
      - 'Ref A: FD6738BAAD564BAAA37BD54FF4DFE634 Ref B: MAA201060514017 Ref C: 2025-05-09T04:40:19Z'
>>>>>>> upstream/main
      x-ua-compatible:
      - IE=edge
      x-xss-protection:
      - 1; mode=block
    status:
      code: 200
      message: OK
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "eastus", "tags": {"hidden-title": "test dashboard"}, "properties":
      {"lenses": {"0": {"order": 0, "parts": {"0": {"position": {"x": 0, "y": 0, "rowSpan":
      4, "colSpan": 6}, "metadata": {"inputs": [{"name": "resourceType", "value":
      "Microsoft.Resources/subscriptions/resourcegroups", "isOptional": true}, {"name":
      "filter", "isOptional": true}, {"name": "scope", "isOptional": true}, {"name":
      "kind", "isOptional": true}], "type": "Extension/HubsExtension/PartType/BrowseResourceGroupPinnedPart"}}}}},
      "metadata": {"model": {"timeRange": {"value": {"relative": {"duration": 24,
      "timeUnit": 1}}, "type": "MsPortalFx.Composition.Configuration.ValueTypes.TimeRange"}}}}}'
=======
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_000001","name":"cli_test_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_portal","date":"2025-05-09T04:40:03Z","module":"portal"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"lenses": [{"order": 0, "parts":
      [{"metadata": {"inputs": [], "settings": {}, "type": "Extension/HubsExtension/PartType/MarkdownPart"},
      "position": {"colSpan": 5, "rowSpan": 3, "x": 0, "y": 0}}]}], "metadata": {"model":
      {"timeRange": {"value": {"relative": {"duration": 24, "timeUnit": 1}}, "type":
      "MsPortalFx.Composition.Configuration.ValueTypes.TimeRange"}}}}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
   [...]
