interactions:
- request:
<<<<<<< HEAD
    body: '{"location": "eastasia", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "mySubnet", "properties": {"addressPrefix": "10.0.2.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet?api-version=2022-01-01
  response:
    body:
      string: '{"name":"myVnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet","etag":"W/\"b8f3c569-19d4-41f6-9b4e-7046dabc3f5a\"","type":"Microsoft.Network/virtualNetworks","location":"eastasia","properties":{"provisioningState":"Updating","resourceGuid":"f90eee5c-02d2-4eee-8de9-91e251d7e580","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"mySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet","etag":"W/\"b8f3c569-19d4-41f6-9b4e-7046dabc3f5a\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.2.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastasia/operations/fc73298d-1244-473f-80c9-99fef40f48e7?api-version=2022-01-01&t=638603254331652144&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastasia/operations/fc73298d-1244-473f-80c9-99fef40f48e7?api-version=2022-01-01&t=638603254331652144&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet?api-version=2022-01-01
  response:
    body:
      string: '{"name":"myVnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet","etag":"W/\"bb7adbb4-9a77-4631-8d81-43cc2ec41e25\"","type":"Microsoft.Network/virtualNetworks","location":"eastasia","properties":{"provisioningState":"Succeeded","resourceGuid":"f90eee5c-02d2-4eee-8de9-91e251d7e580","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"mySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet","etag":"W/\"bb7adbb4-9a77-4631-8d81-43cc2ec41e25\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.2.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb7adbb4-9a77-4631-8d81-43cc2ec41e25"
    status:
      code: 200
      message: ''
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\
      \n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\"\
      ,\r\n  \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"osDiskType\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Premium_LRS\"\
      \r\n    },\r\n    \"addressPrefixes\": {\r\n      \"type\": \"Array\",\r\n \
      \     \"defaultValue\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n\
      \    \"subnets\": {\r\n      \"type\": \"Array\",\r\n      \"defaultValue\"\
      : [\r\n        {\r\n          \"name\": \"default\",\r\n          \"properties\"\
      : {\r\n            \"addressPrefix\": \"10.0.0.0/20\"\r\n          }\r\n   \
      \     }\r\n      ]\r\n    },\r\n    \"virtualNetworkName\": {\r\n      \"type\"\
      : \"String\",\r\n      \"defaultValue\": \"standbypool-test-vnet\"\r\n    },\r\
      \n    \"vmName\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\"\
      : \"standbypoolvm\"\r\n    },\r\n    \"virtualMachineScaleSetName\": {\r\n \
      \     \"type\": \"String\",\r\n      \"defaultValue\": \"myVMSS\"\r\n    },\r\
      \n    \"singlePlacementGroup\": {\r\n      \"type\": \"String\",\r\n      \"\
      defaultValue\": \"false\"\r\n    },\r\n    \"instanceCount\": {\r\n      \"\
      type\": \"String\",\r\n      \"defaultValue\": \"0\"\r\n    },\r\n    \"instanceSize\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Standard_DS1_v2\"\
      \r\n    },\r\n    \"adminUsername\": {\r\n      \"type\": \"String\",\r\n  \
      \    \"defaultValue\": \"azureuser\"\r\n    },\r\n    \"platformFaultDomainCount\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"1\"\r\n    },\r\
      \n    \"maxReadyCapacity\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\"\
      : \"2\"\r\n    }\r\n  },\r\n  \"variables\": {\r\n    \"storageApiVersion\"\
      : \"2019-06-01\",\r\n    \"networkApiVersion\": \"2020-11-01\",\r\n    \"virtualMachineScaleSetApiVersion\"\
      : \"2022-03-01\",\r\n    \"namingInfix\": \"[toLower(substring(concat(parameters('virtualMachineScaleSetName'),\
      \ uniqueString(resourceGroup().id)), 0, 9))]\",\r\n    \"location\": \"[resourceGroup().location]\"\
      ,\r\n    \"virtualNetworkId\": \"[resourceId('Microsoft.Network/virtualNetworks',\
      \ 'standbypool-test-vnet')]\",\r\n    \"subnetId\": \"[resourceId('Microsoft.Network/virtualNetworks/subnets',\
      \ parameters('virtualNetworkName'), 'default')]\",\r\n    \"nsgId\": \"[resourceId('Microsoft.Network/networkSecurityGroups',\
      \ 'basicNsgstandbypool-test-vnet-nic01')]\"\r\n  },\r\n  \"resources\": [\r\n\
      \    {\r\n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"\
      apiVersion\": \"2021-01-01\",\r\n      \"name\": \"[parameters('virtualNetworkName')]\"\
      ,\r\n      \"location\": \"[variables('location')]\",\r\n      \"properties\"\
      : {\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": \"[parameters('addressPrefixes')]\"\
      \r\n        },\r\n        \"subnets\": \"[parameters('subnets')]\"\r\n     \
      \ }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Network/networkSecurityGroups\"\
      ,\r\n      \"apiVersion\": \"2019-02-01\",\r\n      \"name\": \"basicNsgstandbypool-test-vnet-nic01\"\
      ,\r\n      \"location\": \"[variables('location')]\",\r\n      \"properties\"\
      : {\r\n        \"securityRules\": []\r\n      },\r\n      \"copy\": {\r\n  \
      \      \"name\": \"networkSecurityGroups\",\r\n        \"count\": 1\r\n    \
      \  }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets\"\
      ,\r\n      \"apiVersion\": \"[variables('virtualMachineScaleSetApiVersion')]\"\
      ,\r\n      \"name\": \"[parameters('virtualMachineScaleSetName')]\",\r\n   \
      \   \"location\": \"[variables('location')]\",\r\n      \"dependsOn\": [\r\n\
      \        \"[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]\"\
      ,\r\n        \"networkSecurityGroups\",\r\n        \"[concat('Microsoft.Network/virtualNetworks/',\
      \ parameters('virtualNetworkName'))]\"\r\n      ],\r\n      \"sku\": {\r\n \
      \       \"name\": \"[parameters('instanceSize')]\",\r\n        \"capacity\"\
      : \"[int(parameters('instanceCount'))]\"\r\n      },\r\n      \"properties\"\
      : {\r\n        \"singlePlacementGroup\": \"[parameters('singlePlacementGroup')]\"\
      ,\r\n        \"virtualMachineProfile\": {\r\n          \"storageProfile\": {\r\
      \n            \"osDisk\": {\r\n              \"createOption\": \"fromImage\"\
      ,\r\n              \"caching\": \"ReadWrite\",\r\n              \"managedDisk\"\
      : {\r\n                \"storageAccountType\": \"[parameters('osDiskType')]\"\
      \r\n              }\r\n            },\r\n            \"imageReference\": {\r\
      \n              \"publisher\": \"canonical\",\r\n              \"offer\": \"\
      0001-com-ubuntu-server-focal\",\r\n              \"sku\": \"20_04-lts-gen2\"\
      ,\r\n              \"version\": \"latest\"\r\n            }\r\n          },\r\
      \n          \"networkProfile\": {\r\n            \"networkApiVersion\": \"[variables('networkApiVersion')]\"\
      ,\r\n            \"copy\": [\r\n              {\r\n                \"name\"\
      : \"networkInterfaceConfigurations\",\r\n                \"count\": 1,\r\n \
      \               \"input\": {\r\n                  \"name\": \"standbypool-test-vnet-nic01\"\
      ,\r\n                  \"properties\": {\r\n                    \"primary\"\
      : true,\r\n                    \"enableAcceleratedNetworking\": false,\r\n \
      \                   \"ipConfigurations\": [\r\n                      {\r\n \
      \                       \"name\": \"standbypool-test-vnet-nic01-defaultIpConfiguration\"\
      ,\r\n                        \"properties\": {\r\n                         \
      \ \"subnet\": {\r\n                            \"id\": \"[variables('subnetId')]\"\
      \r\n                          },\r\n                          \"primary\": true,\r\
      \n                          \"applicationGatewayBackendAddressPools\": [],\r\
      \n                          \"loadBalancerBackendAddressPools\": [],\r\n   \
      \                       \"publicIPAddressConfiguration\": {\r\n            \
      \                \"name\": \"publicIp-standbypool-test-vnet-nic01\",\r\n   \
      \                         \"properties\": {\r\n                            \
      \  \"idleTimeoutInMinutes\": 15\r\n                            }\r\n       \
      \                   }\r\n                        }\r\n                     \
      \ }\r\n                    ],\r\n                    \"networkSecurityGroup\"\
      : \"[if( equals( variables('nsgId'), ''), json('null'),json(concat('{\\\"id\\\
      \": \\\"', variables('nsgId'), '\\\"}')))]\"\r\n                  }\r\n    \
      \            }\r\n              }\r\n            ]\r\n          },\r\n     \
      \     \"osProfile\": {\r\n            \"computerNamePrefix\": \"[variables('namingInfix')]\"\
      ,\r\n            \"adminUsername\": \"[parameters('adminUsername')]\",\r\n \
      \           \"linuxConfiguration\": {\r\n              \"disablePasswordAuthentication\"\
      : true,\r\n              \"ssh\": {\r\n                \"publicKeys\": [\r\n\
      \                  {\r\n                    \"path\": \"[concat('/home/', parameters('adminUsername'),\
      \ '/.ssh/authorized_keys')]\",\r\n                    \"keyData\": \"ssh-rsa\
      \ AAAAB3NzaC1yc2EAAAABJQAAAQEAgWlCDy4PkEECtiwv+OJGviDoFT/xx6J0q667Voh6PUd2UtoGCSGxHZnO3dc19RAE3svGb4V1D07ucTtzQuDW0r5/BJIflTShF83ttcffCzs5tq3AjyyjDs0F0gxeT64daGAnofBVHaXGZ8WHOOxRoDZG1SWZYTGw7xA1Rg8lKPDvBX0U0sQMP+9ADtsrFAQAtSZjjsQUbcdEP6sJ7o/Snkwxax1+X1mrHNzV+Lqpnrw1aIzAnoU4JzGRCPKiRL0f/ppZUrlHnc+PZ8xhUZ0tlh8PMOtLqkH9mcW5C0TlXw/sRvzQlX/Mf31Hx/HyrnzuuhtvXA4w268VFpJvYX7eyw==\
      \ rsa-key-20181219\"\r\n                  }\r\n                ]\r\n       \
      \       }\r\n            },\r\n            \"customData\": \"ZWNobyAiSGVsbG8gd29ybGQi\"\
      \r\n          }\r\n        },\r\n        \"orchestrationMode\": \"Flexible\"\
      ,\r\n        \"platformFaultDomainCount\": \"[parameters('platformFaultDomainCount')]\"\
      \r\n      }\r\n    }\r\n  ],\r\n  \"outputs\": {\r\n    \"adminUsername\": {\r\
      \n      \"type\": \"String\",\r\n      \"value\": \"[parameters('adminUsername')]\"\
      \r\n    }\r\n  }\r\n}}}"
=======
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"osDiskType\":
      {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Premium_LRS\"\r\n
      \   },\r\n    \"addressPrefixes\": {\r\n      \"type\": \"Array\",\r\n      \"defaultValue\":
      [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": {\r\n
      \     \"type\": \"Array\",\r\n      \"defaultValue\": [\r\n        {\r\n          \"name\":
      \"default\",\r\n          \"properties\": {\r\n            \"addressPrefix\":
      \"10.0.0.0/20\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"virtualNetworkName\":
      {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"standbypool-test-vnet\"\r\n
      \   },\r\n    \"vmName\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\":
      \"standbypoolvm\"\r\n    },\r\n    \"virtualMachineScaleSetName\": {\r\n      \"type\":
      \"String\",\r\n      \"defaultValue\": \"myVMSS\"\r\n    },\r\n    \"singlePlacementGroup\":
      {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"false\"\r\n    },\r\n
      \   \"instanceCount\": {\r\n      \"type\": \"String\",\r\n      \"defaultValue\":
      \"0\"\r\n    },\r\n    \"instanceSize\": {\r\n      \"type\": \"String\",\r\n
      \     \"defaultValue\": \"Standard_DS1_v2\"\r\n    },\r\n    \"adminUsername\":
      {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"azureuser\"\r\n
      \   },\r\n    \"platformFaultDomainCount\": {\r\n      \"type\": \"String\",\r\n
      \     \"defaultValue\": \"1\"\r\n    },\r\n    \"maxReadyCapacity\": {\r\n      \"type\":
      \"String\",\r\n      \"defaultValue\": \"2\"\r\n    }\r\n  },\r\n  \"variables\":
      {\r\n    \"storageApiVersion\": \"2019-06-01\",\r\n    \"networkApiVersion\":
      \"2020-11-01\",\r\n    \"virtualMachineScaleSetApiVersion\": \"2022-03-01\",\r\n
      \   \"namingInfix\": \"[toLower(substring(concat(parameters('virtualMachineScaleSetName'),
      uniqueString(resourceGroup().id)), 0, 9))]\",\r\n    \"location\": \"[resourceGroup().location]\",\r\n
      \   \"virtualNetworkId\": \"[resourceId('Microsoft.Network/virtualNetworks',
      'standbypool-test-vnet')]\",\r\n    \"subnetId\": \"[resourceId('Microsoft.Network/virtualNetworks/subnets',
      parameters('virtualNetworkName'), 'default')]\",\r\n    \"nsgId\[...]
- request:
<<<<<<< HEAD
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\
      \n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\"\
      ,\r\n  \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"osDiskType\"\
      : {\r\n      \"type\": \"String\",\r\n      \"defaultValue\": \"Premium_LRS\"\
      \r\n    },\r\n    \"addressPrefixes\": {\r\n      \"type\": \"Array\",\r\n \
      \     [...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584768782342149711?api-version=2022-09-01
=======
      - AZURECLI/2.71.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.2610[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.71.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.26100-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/myVMSS","name":"myVMSS","type":"Microsoft.Resources/deployments","properties":{"templateHash":"15103121632394548372","parameters":{"osDiskType":{"type":"String","value":"Premium_LRS"},"addressPrefixes":{"type":"Array","value":["10.0.0.0/16"]},"subnets":{"type":"Array","value":[{"name":"default","properties":{"addressPrefix":"10.0.0.0/20"}}]},"virtualNetworkName":{"type":"String","value":"standbypool-test-vnet"},"vmName":{"type":"String","value":"standbypoolvm"},"virtualMachineScaleSetName":{"type":"String","value":"myVMSS"},"singlePlacementGroup":{"type":"String","value":"false"},"instanceCount":{"type":"String","value":"0"},"instanceSize":{"type":"String","value":"Standard_DS1_v2"},"adminUsername":{"type":"String","value":"azureuser"},"platformFaultDomainCount":{"type":"String","value":"1"},"maxReadyCapacity":{"type":"String","value":"2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-08-27T03:17:40.748723Z","duration":"PT7.523678S","correlationId":"1f05009e-862b-4c56-ae5d-3921065d7e59","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/standbypool-test-vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"standbypool-test-vnet"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/basicNsgstandbypool-test-vnet-nic01","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"basicNsgstandbypool-test-vnet-nic01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"myVMSS"}],"outputs":{"adminUsername":{"type":"String","value":"azureuser"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/basicNsgstandbypool-test-vnet-nic01"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/standbypool-test-vnet"}]}}'
====[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.71.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.26100-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_standby_virtual_machine_pool_scenarios","date":"2024-08-27T03:17:08Z","module":"standbypool"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_standby_virtual_machine_pool_scenarios","date":"2025-04-22T02:33:50Z","module":"standbypool"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 27 Aug 2024 03:18:05 GMT
=======
      - Tue, 22 Apr 2025 02:34:32 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-msedge-ref:
      - 'Ref A: 9C489B29B6744CC994FC51F830370319 Ref B: CO6AA3150217011 Ref C: 2024-08-27T03:18:05Z'
=======
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: C1A5CAC4D95644E0BB2C2E556F2682A7 Ref B: MWH011020809042 Ref C: 2025-04-22T02:34:32Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"attachedVirtualMachineScaleSetId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS",
      "elasticityProfile": {"maxReadyCapacity": 3, "minReadyCapacity": 3}, "virtualMachineState":
      "Running"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool","name":"testPool","type":"microsoft.standbypool/standbyvirtualmachinepools","location":"eastus","systemData":{"createdBy":"dev@microsoft.com","createdByType":"User","createdAt":"2024-08-27T03:18:06.6708837Z","lastModifiedBy":"dev@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-27T03:18:06.6708837Z"},"properties":{"attachedVirtualMachineScaleSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/myVMSS","elasticityProfile":{"maxReadyCapacity":3,"minReadyCapacity":3},"virtualMachineState":"Running","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100f15f-0000-0600-0000-66cd456f0000"'
===[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - --resource-group --name
      User-Agent:
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool/runtimeViews/latest?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/testPool/runtimeViews/latest","name":"latest","type":"Microsoft.StandbyPool/standbyVirtualMachinePools/runtimeViews","properties":{"instanceCountSummary":[{"instanceCountsByState":[{"state":"Creating","count":3},{"state":"Starting","count":0},{"state":"Running","count":0},{"state":"Deallocating","count":0},{"state":"Deallocated","count":0},{"state":"Deleting","count":0}]}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
=======
      - --resource-group --name --version
      User-Agent:
      - AZURECLI/2.71.0 azsdk-python-core/1.31.0 Python/3.12.10 (Windows-11-10.0.26100-SP0)
    method: GET
    uri: https://manag[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kubhardwaj-euap-rg/providers/Microsoft.S[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.StandbyPool/locations/EASTUS/operationStatuses/9aec41b4-2c29-4e28-8f46-b93b8d6843f5*16AB80A42C650856FC4135535DE9B689BD19A59250B100123315713EE4C17B33?api-version=2024-03-01&t=638603254927462605&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzY[...]
[...]
