interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - python-requests/2.32.3
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
>>>>>>> upstream/main
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - quantum workspace create
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -w -l -a -r -o --skip-role-assignment
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-quantum/1.0.0b1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
        az-cli-ext/1.0.0b2
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus2/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
        az-cli-ext/1.0.0b4
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"azure-quantum-qc\",\"name\":\"Azure Quantum Computing\",\"properties\":{\"description\":\"Azure
        quantum computing resources.\",\"providerType\":\"qe\",\"company\":\"Microsoft\",\"managedApplication\":{\"publisherId\":\"N/A\",\"offerId\":\"N/A\"},\"targets\":[{\"id\":\"azure-quantum.qpu.m1\",\"name\":\"azure-quantum.qpu.m1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.m2\",\"name\":\"azure-quantum.qpu.m2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test1\",\"name\":\"azure-quantum.qpu.test1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test2\",\"name\":\"azure-quantum.qpu.test2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test3\",\"name\":\"azure-quantum.qpu.test\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test4\",\"name\":\"azure-quantum.qpu.test4\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test5\",\"name\":\"azure-quantum.qpu.test5\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test6\",\"name\":\"azure-quantum.qpu.test6\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]}],\"skus\":[{\"id\":\"Basic\",\"version\":\"1.0\",\"name\":\"Internal
        Testing\",\"description\":\"Private preview access for Azure Quantum hardware.\",\"autoAdd\":false,\"targets\":[\"azure-quantum.qpu.m1\",\"azure-quantum.qpu.m2\",\"azure-quantum.qpu.test1\",\"azure-quantum.qpu.test2\",\"azure-quantum.qpu.test3\",\"azure-quantum.qpu.test4\",\"azure-quantum.qpu.test5\",\"azure-quantum.qpu.test6\"],\"pricingDetails\":[{\"id\":\"feature\",\"value\":\"No
        prices, just space reservation.\"}]}],\"pricingDimensions\":[{\"id\":\"feature\",\"name\":\"Features\"}]}},{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
>>>>>>> upstream/main
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
<<<<<<< HEAD
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu\",\"name\":\"Trapped
        Ion Quantum Computer\",\"description\":\"IonQ's quantum computer is dynamically
        reconfigurable in software to use up to 11 qubits. All qubits are fully connected,
        meaning you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quant[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-marketplaceordering/1.1.0 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/pay-as-you-go-cred/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/pay-as-you-go-cred/agreements/current","name":"pay-as-you-go-cred","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"ionqinc1582730893633","product":"ionq-aq","plan":"pay-as-you-go-cred","licenseTextLink":"https://mpcprodsa.blob.core.windows.net/legalterms/3E5ED_legalterms_IONQINC1582730893633%253a24IONQ%253a2DAQ%253a24PAY%253a2DAS%253a2DYOU%253a2DGO%253a2DCRED%253a247ODGLEAK7RQISNHUEU4KJYVC6QLVZF5IANNQFGBHOKJMXWIW3OPRUADLB63ROSGS5FVYSHLINGX5BK7GF7Y2ZO24HKBHSPKMXBHFBAQ.txt","privacyPolicyLink":"https://ionq.com/privacy","marketplaceTermsLink":"https://mpcprodsa.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2024-03-04T17:44:28.4718732Z","signature":"OTH354R26TVA3Q5H2P76UMPKWMZN32VJFWR4DXREJAPXEYI7ESZD6TVIUFIY3H6JOF6MUINMOVP72OTT7ARJKYPCB2CD7IZ7IHVCYSA","accepted":true},"systemData":{"createdBy":"916dfd6d-030c-4bd9-b579-7bb6d1926e97","createdByType":"ManagedIdentity","createdAt":"2024-03-04T17:44:28.5655978+00:00","lastModifiedBy":"916dfd6d-030c-4bd9-b579-7bb6d1926e97","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2024-03-04T17:44:28.5655978+00:00"}}'
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/aqt-pay-as-you-go-cred-new/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-marketplaceordering/1.1.0 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/pasqal1672665369086/offers[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-marketplaceordering/1.1.0 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/quantinuumllc1640113159771[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-marketplaceordering/1.1.0 Python/3.10.11
        (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "westus2", "properties": {"providers": [{"providerId": "microsoft-qc",
      "providerSku": "learn-and-develop"}, {"providerId": "ionq", "providerSku": "pay-as-you-go-cred"},
=======
    body: '{"location": "westus", "properties": {"providers": [{"providerId": "Microsoft.ChemistryHpc",
      "providerSku": "Basic"}, {"providerId": "ionq", "providerSku": "aqt-pay-as-you-go-cred-new"},
      {"providerId": "microsoft-elements", "providerSku": "elements-internal-testing"},
>>>>>>> upstream/main
      {"providerId": "pasqal", "providerSku": "pasqal-aq-credits"}, {"providerId":
      "quantinuum", "providerSku": "credits1"}, {"providerId": "rigetti", "providerSku":
      "azure-quantum-credits"}], "apiKeyEnabled": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
<<<<<<< HEAD
      - '432'
=======
      - '519'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - -g -w -l -a -r -o --skip-role-assignment
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-quantum/1.0.0b1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
        az-cli-ext/1.0.0b2
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w2861382?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w2861382","name":"e2e-test-w2861382","type":"microsoft.quantum/workspaces","location":"westus2","systemData":{"createdBy":"guyi@microsoft.com","createdByType":"User","createdAt":"2024-03-04T17:44:42.1743394Z","lastModifiedBy":"guyi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-03-04T17:44:42.1743394Z"},"identity":{"principalId":"b7de52e2-6bd8-4637-855f-2cad1fb3bc2e","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop","applicationName":"e2e-test-w2861382-microsoft-qc","provisioningState":"Launching"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred","applicationName":"e2e-test-w2861382-ionq","provisioningState":"Launching"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-test-w2861382-pasqal","provisioningState":"Launching"},{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-test-w2861382-quantinuum","provisioningState":"Launching"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w2861382-rigetti","provisioningState":"Launching"}],"provisioningState":"Accepted","usable":"No","apiKeyEnabled":true}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Quantum/locations/WESTUS2/operationStatuses/ceb81587-31f0-4ec3-9472-f41b7ab604b0*AFF5EF3D69BB71152717CF8B4D44E2A330D62EDCDB5013E71FF3802F32CC2F11?api-version=2023-11-13-preview&t=638451710835649510&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
=======
      - quantum workspace set
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -w -l -o
      User-Agent:
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
        az-cli-ext/1.0.0b4
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w9967676?api-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w9967676/quotas?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"dimension":"aqt","scope":"Subscription","providerId":"ionq","utilization":0.0,"holds":0.0,"limit":500.0,"period":"Infinite"},{"dimension":"concurrent_dft_jobs","scope":"Subscription","providerId":"microsoft-elements","utilization":0.0,"holds":1.0,"limit":5.0,"period":"None"},{"dimension":"qpu_hours","scope":"Subscription","providerId":"pasqal","utilization":0.0,"holds":0.0,"limit":0.167,"period":"Infinite"},{"dimension":"emulator_hours","scope":"Subscription","providerId":"pasqal","utilization":0.0,"holds":0.0,"limit":20.0,"period":"Infinite"},{"dimension":"hqc","scope":"Subscription","providerId":"quantinuum","utilization":0.0,"holds":0.0,"limit":40.0,"period":"Infinite"},{"dimension":"ehqc","scope":"Subscription","providerId":"quantinuum","utilization":2004.2600000000002,"holds":0.0,"limit":8000.0,"period":"Infinite"},{"dimension":"provider-credit","scope":"Subscription","providerId":"rigetti","utilization":73.0,"holds":0.0,"limit":25000.0,"period":"Infinite"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c82aa44e-03ef-4cc7-ac7d-74c828ffa377
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
>>>>>>> upstream/main
      - quantum workspace delete
      Connection:
      - keep-alive
      Content-Length:
      - '0'
      ParameterSetName:
      - -g -w -o
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-quantum/1.0.0b1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
        az-cli-ext/1.0.0b2
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-test-w2861382?api-version=2023-11-13-preview
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Pytho[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-storage/21.1.0 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","name":"e2etests","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2023-12-12T18:13:25.2770446Z","key2":"2023-12-12T18:13:27.7770684Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-13T19:13:16.5082330Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-04-13T19:13:16.3988354Z","primaryEndpoints":{"blob":"https://e2etests.blob.core.windows.net/","queue":"https://e2etests.queue.core.windows.net/","table":"https://e2etests.table.core.windows.net/","file":"https://e2etests.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etestsgrs","name":"e2etestsgrs","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"defaultToOAuthAuthentication":false,"keyCreationTime":{"key1":"2022-03-14T19:40:06.3610257Z","key2":"2022-03-14T19:40:06.3610257Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-14T19:40:06.3610257Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-03-14T19:40:06.2360414Z","primaryEndpoints":{"dfs":"https://e2etestsgrs.dfs.core.windows.net/","web":"https://e2etestsgrs.z5.web.core.windows.net/","blob":"https://e2etestsgrs.blob.core.windows.net/","queue":"https://e2etestsgrs.queue.core.windows.net/","table":"https://e2etestsgrs.table.core.windows.net/","file":"https://e2etestsgrs.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://e2etestsgrs-secondary.dfs.core.windows.net/","web":"https://e2etestsgrs-secondary.z5.web.core.windows.net/","blob":"https://e2etestsgrs-secondary.blob.core.windows.net/","queue":"https://e2etestsgrs-secondary.queue.core.windows.net/","table":"https://e2etestsgrs-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/st[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
<<<<<<< HEAD
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w3716055"}, "location": {"value":
      "westus2"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "microsoft-qc",
      "providerSku": "learn-and-develop"}, {"providerId": "ionq", "providerSku": "pay-as-you-go-cred"},
      {"providerId": "pasqal", "providerSku": "pasqal-aq-credits"}, {"providerId":
      "quantinuum", "providerSku": "credits1"}, {"providerId": "rigetti", "providerSku":
      "azure-quantum-cr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584604781781478746?api-version=2022-09-01&t=638767255088759953&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w7206928","name":"Microsoft.AzureQuantum-e2e-test-w7206928","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8780732195960594757","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w7206928"},"location":{"type":"String","value":"westus"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"Microsoft.ChemistryHpc","providerSku":"Basic"},{"providerId":"ionq","providerSku":"aqt-pay-as-you-go-cred-new"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits"},{"providerId":"quantinuum","providerSku":"credits1"},{"providerId":"rigetti","providerSku":"azure-quantum-credits"}]},"storageAccountName":{"type":"String","value":"e2eqsharptests"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},"storageAccountLocation":{"type":"String","value":"westus"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"Storage"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-04-Mar-2025-22-51-48"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-03-04T22:58:46.3223764Z","duration":"PT6M57.9889658S","correlationId":"0f1814d6-224f-440d-9938-a9826ae78e70","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/Workspaces/e2e-test-w7206928","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w7206928"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w7206928","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w7206928","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-04-Mar-2025-22-51-48","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-04-Mar-2025-22-51-48"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w7206928"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests/fileServices/default"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests/providers/Microsoft.Authorization/roleAssignments/138a67b3-2b2f-529d-9d57-497f2ab1ba09"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w7206928?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w7206928","name":"e2e-test-w7206928","type":"microsoft.quantum/workspaces","location":"westus","tags":{},"systemData":{"createdBy":"v-warrjones@microsoft.com","createdByType":"User","createdAt":"2025-03-04T22:51:51.1851099Z","lastModifiedBy":"v-warrjones@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-04T22:51:51.1851099Z"},"identity":{"principalId":"e6deaf89-9c43-4136-860a-7502d50db80e","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"Microsoft.ChemistryHpc","providerSku":"Basic","applicationName":"e2e-test-w7206928-Microsoft.ChemistryHpc","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"aqt-pay-as-you-go-cred-new","applicationName":"e2e-test-w7206928-ionq","provisioningState":"Succeeded","resourceUsageId":"db1b788a-ed9c-4c9d-bee4-299cb924e9a8"},{"providerId":"microsoft-elements","providerSku":"elements-internal-testing","applicationName":"e2e-test-w7206928-microsoft-elements","provisioningState":"Succeeded"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-test-w7206928-pasqal","provisioningState":"Succeeded","resourceUsageId":"69fe47a6-48f3-4604-a3a7-260486e3c442"},{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-test-w7206928-quantinuum","provisioningState":"Succeeded","resourceUsageId":"5c9728f5-4eba-49d5-b787-416e61362bfa"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w7206928-rigetti","provisioningState":"Succeeded","resourceUsageId":"d4bdeedf-adaa-400f-8227-c8a9c2cbd2db"}],"provisioningState":"Deleting","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w7206928.westus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b903ca24-0000-0700-0000-67c785b00000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
