interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - python-requests/2.32.3
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
>>>>>>> upstream/main
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - quantum workspace set
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -w -l
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-mgmt-quantum/1.0.0b1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
        az-cli-ext/1.0.0b2
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/Workspaces/e2e-qsharp-tests","name":"e2e-qsharp-tests","type":"microsoft.quantum/workspaces","location":"westus2","tags":{},"systemData":{"createdBy":"guyi@microsoft.com","createdByType":"User","createdAt":"2024-02-28T23:57:34.8620887Z","lastModifiedBy":"guyi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-02-29T00:26:35.9738557Z"},"identity":{"principalId":"7adef34c-123b-4949-afde-67c176d634f3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"microsoft-qc","providerSku":"learn-and-develop","applicationName":"e2e-qsharp-tests-microsoft-qc","provisioningState":"Succeeded"},{"providerId":"ionq","providerSku":"pay-as-you-go-cred","applicationName":"e2e-qsharp-tests-ionq","provisioningState":"Succeeded","resourceUsageId":"07d8da19-1b74-4233-9845-90785f9c41d1"},{"providerId":"pasqal","providerSku":"pasqal-aq-credits","applicationName":"e2e-qsharp-tests-pasqal","provisioningState":"Succeeded","resourceUsageId":"d9405334-2cf6-4b37-9577-cab775cae1a5"},{"providerId":"qci","providerSku":"qci-syspreview-free","applicationName":"e2e-qsharp-tests-qci","provisioningState":"Succeeded","resourceUsageId":"52742188-56ea-4d91-aea1-9e141ee1cf5e"},{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-qsharp-tests-rigetti","provisioningState":"Succeeded","resourceUsageId":"0c1ba7cf-5e18-4a3a-a9cd-d7764470524e"},{"providerId":"quantinuum","providerSku":"credits1","applicationName":"e2e-qsharp-tests-quantinuum","provisioningState":"Succeeded","resourceUsageId":"b59ea416-7d50-443f-a3f5-8589e1d79d34"},{"providerId":"Microsoft.Test","providerSku":"sample-plan-3","applicationName":"e2e-qsharp-tests-Microsoft.Test","provisioningState":"Succeeded","resourceUsageId":"770bc639-8698-4e34-961d-a935dd36e42a"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Storage/storageAccounts/e2etests","endpointUri":"https://e2e-qsharp-tests.westus2.quantum.azure.com","apiKeyEnabled":true}}'
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
        az-cli-ext/1.0.0b4
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quan[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - az-cli-ext/1.0.0b2 azsdk-python-quantum/0.0.0.1 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://westus2.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests/providerStatus
  response:
    body:
      string: '{"value":[{"id":"microsoft-qc","currentAvailability":"Available","targets":[{"id":"microsoft.estimator","currentAvailability":"Available","averageQueueTime":0,"statusPage":null}]},{"id":"ionq","currentAvailability":"Degraded","targets":[{"id":"ionq.qpu","currentAvailability":"Unavailable","averageQueueTime":6522643,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":4749,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-2","currentAvailability":"Available","averageQueueTime":8094771,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueT[...]
