interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - python-requests/2.32.3
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
>>>>>>> upstream/main
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - quantum workspace list
      Connection:
      - keep-alive
      ParameterSetName:
      - -l -o
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27westus2%27%20and%20resourceType%20eq%20%27Microsoft.Quantum%2FWorkspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SCP-troysewell/providers/Microsoft.Quantum/Workspaces/t-troysewell-sim","name":"t-troysewell-sim","type":"Microsoft.Quantum/Workspaces","location":"westus2","identity":{"principalId":"01ed0f1b-4964-4f40-9f2f-026f62ac4aae","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"createdTime":"2022-08-04T21:01:08.1825562Z","changedTime":"2022-08-05T01:44:19.239518Z","provisioningState":"Succeeded","tags":{},"systemData":{"createdBy":"t-troysewell@microsoft.com","createdByType":"User","createdAt":"2022-08-04T21:01:08.3088474Z","lastModifiedBy":"t-troysewell@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-04T21:01:08.3088474Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xfield-rg/providers/Microsoft.Quantum/Workspaces/xfield-qw","name":"xfield-qw","type":"Microsoft.Quantum/Workspaces","location":"westus2","identity":{"principalId":"375b5fb7-b3ad-40f1-90b4-9c26da47cd4d","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"createdTime":"2023-01-22T03:54:50.0678935Z","changedTime":"2023-01-22T08:38:03.5363097Z","provisioningState":"Succ[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27westus2%27%20and%20resourceType%20eq%20%27Microsoft.Quantum/Workspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01&$skiptoken=hZNBb5swHEe/C%2BcewITLpB2SmTAi/rbIH[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27westus2%27%20and%20resourceType%20eq%20%27Microsoft.Quantum/Workspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01&$skiptoken=hZLBbqQwDIbfhXMPGaa9rLQHqjAUhIOYhsn[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27westus2%27%20and%20resourceType%20eq%20%27Microsoft.Quantum/Workspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01&$skiptoken=fdDBTsMgHIDxd%2BG8AzJPSzzMgJWl/JtFW[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.66.1 azsdk-python-core/1.31.0 Python/3.8.10 (Windows-10-10.0.22631-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Quantum%2FWorkspaces%27&$expand=createdTime%2CchangedTime%2Cpr[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.57.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.11 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Quantum/Workspaces%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01&$skiptoken=q1bKS60o8cnMyy5WsqpWKk8tLiktNlKyUkqt9CqNisgwCAl3q0w0Cqv0zMrP9HcPrPIL8TSOD[...]
