interactions:
- request:
    body: '{"location": "eastus2", "properties": {"description": "My Test Network
      Manager", "networkManagerScopeAccesses": ["Routing"], "networkManagerScopes":
      {"subscriptions": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.11.0 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?api-version=2023-09-01
  response:
    body:
      string: '{"name":"TestNetworkManager","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager","location":"eastus2","type":"Microsoft.Network/networkManagers","tags":{},"etag":"","properties":{"description":"My
<<<<<<< HEAD
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["Routing"],"resourceGuid":"55821af3-d6fa-474b-9041-48ac9314d4f9"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2024-06-04T06:06:13.6148588Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-04T06:06:13.6148588Z"}}'
=======
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["Routing"],"resourceGuid":"66f593a4-ff3d-48fd-9267-8ef0dac0f3e5"},"systemData":{"createdBy":"ssingireddy@microsoft.com","createdByType":"User","createdAt":"2024-12-10T23:50:58.8529964Z","lastModifiedBy":"ssingireddy@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-12-10T23:50:58.8529964Z"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 04 Jun 2024 06:06:15 GMT
=======
      - Tue, 10 Dec 2024 23:50:59 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
      - 'Ref A: B1581C155E3F4231933104B402D7CC02 Ref B: MAA201060513023 Ref C: 2024-06-04T06:06:10Z'
=======
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
      - 'Ref A: BC1C2412EA2443E397C7A353E85896BD Ref B: CO6AA3150217021 Ref C: 2024-12-10T23:50:58Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.11.0 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkManagerGroup?api-version=2022-01-01
  response:
    body:
<<<<<<< HEAD
      string: '{"name":"TestNetworkManagerGroup","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkManagerGroup","type":"Microsoft.Network/networkManagers/networkGroups","etag":"","properties":{"description":"","provisioningState":"Succeeded","memberType":"VirtualNetwork","resourceGuid":"f6df546a-c0d2-4ff4-b011-98e781c87c8c"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2024-06-04T06:06:17.4378981Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-04T06:06:17.4378981Z"}}'
=======
      string: '{"name":"TestNetworkManagerGroup","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/provide[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002?api-version=2023-03-01-preview
  respon[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations?api-version=2023-03-01-preview
  response:
    body:
      string: '{"nextLink":"","value":[{"name":"routing-config-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002","type":"Microsoft.Network/networkManagers/routingConfigurations","etag":"\"e20188a4-0000-0200-0000-665eaee00000\"","properties":{"description":"","provisioningState":"Succeeded","resourceGuid":"b09b0ffa-d512-4103-a0b2-4a419a657571"},"syste[...]
[...]
- request:
    body: '{"properties": {"appliesTo": [{"networkGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkManagerGroup"}],
<<<<<<< HEAD
      "disableBgpRoutePropagation": "true", "localRouteSetting": "NotSpecified"}}'
=======
      "disableBgpRoutePropagation": "True"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '344'
      Content-Type:
      - application/json
      ParameterSetName:
      - --config-name --manager-name --name --resource-group --local-route-setting
        --applies-to --disable-bgp-route
      User-Agent:
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002/ruleCollections/rule-collection-000003?api-version=2023-03-01-preview
  response:
    body:
      string: '{"name":"rule-collection-000[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002/ruleCollections?api-version=2023-03-01-preview
  response:
    body:
      string: '[...]
[...]
- request:
    body: '{"properties": {"destination": {"destinationAddress": "10.0.0.0/16", "type":
      "AddressPrefix"}, "nextHop": {"nextHopType": "VirtualNetworkGateway"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002/ruleCollections/rule-collection-000003/rules/rule-000004?api-version=2023-03-01-preview
  response:
    body:
      string: '{"name":"rule-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002/ruleCollections/rule-collection-000003/rules/rule-000004","type":"Microsoft.Network/networkManagers/routingConfigurations/ruleCollections/rules","etag":"","properties":{"description":"","provisioningState":"Succeeded","resourceGuid":"bc0bf3dc-98d7-4bdc-b49c-3ed8a4f1a150","destination":{"type":"AddressPrefix","destinationAddress":"10.0.0.0/16"},"nextHop":{"nextHopType":"VirtualNetworkGateway","nextHopAddress":""},"priority":0},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2024-06-04T06:06:48.9976421Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-04T06:06:48.9976421Z"}}'
=======
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.11.0 (Windows-10-10.0.26100-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_confi[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/routingConfigurations/routing-config-000002/ruleCollections/rule-collection-000003/rules?api-version=2023-03-01-preview
  respon[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 azsdk-python-core/1.31.0 Python/3.11.0 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?force=true&api-version=2023-09-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Tue, 04 Jun 2024 06:07:13 GMT
=======
      - Tue, 10 Dec 2024 23:51:23 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/66f593a4-ff3d-48fd-9267-8ef0dac0f3e5?api-version=2023-09-01&t=638694714847408196&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/66f593a4-ff3d-48fd-9267-8ef0dac0f3e5?api-version=2023-09-01&t=638694714847408196&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_routing_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/66f593a4-ff3d-48fd-9267-8ef0dac0f3e5?api-version=2023-09-01&t=638694714853188168&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
