interactions:
- request:
    body: '{"location": "eastus2", "properties": {"description": "My Test Network
      Manager", "networkManagerScopeAccesses": ["SecurityAdmin", "Connectivity"],
      "networkManagerScopes": {"subscriptions": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?api-version=2023-09-01
  response:
    body:
      string: '{"name":"TestNetworkManager","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager","location":"eastus2","type":"Microsoft.Network/networkManagers","tags":{},"etag":"","properties":{"description":"My
<<<<<<< HEAD
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["SecurityAdmin","Connectivity"],"resourceGuid":"bdc308a0-e5a4-457f-a395-ce4c0f604943"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2024-05-30T10:22:23.9648491Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-30T10:22:23.9648491Z"}}'
=======
        Test Network Manager","networkManagerScopes":{"managementGroups":[],"subscriptions":["/subscriptions/00000000-0000-0000-0000-000000000000"],"crossTenantScopes":[]},"provisioningState":"Succeeded","networkManagerScopeAccesses":["SecurityAdmin","Connectivity"],"resourceGuid":"c8cbe8b2-0f0a-400a-8aa7-f47c08b164fe"},"systemData":{"createdBy":"ssingireddy@microsoft.com","createdByType":"User","createdAt":"2025-03-06T18:59:58.6419243Z","lastModifiedBy":"ssingireddy@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-06T18:59:58.6419243Z"}}'
>>>>>>> upstream/main
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 30 May 2024 10:22:25 GMT
=======
      - Thu, 06 Mar 2025 18:59:59 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
      - 'Ref A: 2C1F14A3F33D46D0858DFD63C073120B Ref B: TYO201151006040 Ref C: 2024-05-30T10:22:21Z'
=======
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-msedge-ref:
      - 'Ref A: B1F6C025C42F433ABD8854A0BF408E18 Ref B: CO6AA3150218009 Ref C: 2025-03-06T18:59:56Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "A sample policy"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup?api-version=2022-01-01
  response:
    body:
      string: '{"name":"TestNetworkGroup","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup","type":"Microsoft.Network/networkManagers/networkGroups","etag":"","properties":{"description":"A
<<<<<<< HEAD
        sample policy","provisioningState":"Succeeded","memberType":"VirtualNetwork","resourceGuid":"3571c4a7-b0a3-4c9b-bf94-8cb626197e8e"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2024-05-30T10:22:28.0080452Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-30T10:22:28.0080452Z"}}'
=======
        sample policy","provisioningState":"Succeeded","memberType":"VirtualNetwork","resourceGuid":"79991a09-dde3-4a2f-b544-fc03085e6059"},"systemData":{"createdBy":"ssingired[...]
- request:
    body: '{"properties": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/virtualnetworks/clitest.vn000002"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https:[...]
- request:
    body: '{"properties": {"appliesToGroups": [{"groupConnectivity": "None", "isGlobal":
      "False", "networkGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup",
      "useHubGateway": "True"}], "connectivityTopology": "HubAndSpoke", "deleteExistingPeering":
      "True", "description": "Sample Configuration", "hubs": [{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/virtualnetworks/clitest.vn000002",
      "resourceType": "Microsoft.Network/virtualNetworks"}], "isGlobal": "True"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_c[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"commitType": "Connectivity", "configurationIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations/myTestSecurityConfig"],
      "targetLocations": ["eastus2"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/commit?api-version=2022-01-01
  response:
    body:
      string: '{"configurationIds":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations/myTestSecurityConfig"],"targetLocations":["eastus2"],"commitType":"Connectivity","commitId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/commit/12953fad-c4d7-4e70-8d61-f3f3f4d89ac5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/00000000-0000-0000-0000-000000000000?api-version=2022-01-01&t=638526613628624944&c=MIIHKjCCBhKgAwIBAgITHgRzbqCyQ18wMndEBQAABHNuoDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTAxMDA1NzQyWhcNMjUwNDI2MDA1NzQyW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/00000000-0000-0000-0000-000000000000?api-version=2022-01-01&t=638526613628624944&c=MIIHKjCCBhKgAwIBAgITHgRzbqCyQ18wMndEBQAABHNuoDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/operationResults/00000000-0000-0000-0000-000000000000?api-version=2022-01-01&t=638526613682206820&c=MIIHKjCCBhKgAwIBAgITHgRzbqCyQ18wMndEBQAABHNuoDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations?api-version=2022-01-01
  response:
    body:
<<<<<<< HEAD
      string: '{"nextLink":"","value":[{"name":"myTestSecurityConfig","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations/myTestSecurityConfig","type":"Microsoft.Network/networkManagers/connectivityConfigurations","etag":"\"21021780-0000-0200-0000-6658537f0000\"","properties":{"description":"Sample
        Configuration","connectivityTopology":"HubAndSpoke","hubs":[{"resourceTy[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/connectivityConfigurations/myTestSecurityConfig?force=true&api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Thu, 30 May 2024 10:22:59 GMT
=======
      - Thu, 06 Mar 2025 19:00:16 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
<<<<<<< HEAD
      - '14999'
      x-msedge-ref:
      - 'Ref A: 03BC2F72553E47F289C89FE2DDDD95D9 Ref B: TYO201151006042 Ref C: 2024-05-30T10:22:58Z'
=======
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
      x-msedge-ref:
      - 'Ref A: 7C72D300C3F34899B21B3DB3FC79E934 Ref B: CO6AA3150217049 Ref C: 2025-03-06T19:00:14Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManage[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup/operationResults/79991a09-dde3-4a2f-b544-fc03085e6059?api-version=2022-01-01&t=638768844172753750&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager/networkGroups/TestNetworkGroup/operationResults/79991a09-dde3-4a2f-b544-fc03085e6059?api-version=2022-01-01&t=638768844193756931&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMw[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.61.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.67.0 (MSI) azsdk-python-core/1.31.0 Python/3.11.9 (Windows-10-10.0.26100-SP0)
>>>>>>> upstream/main
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_manager_connect_config_crud000001/providers/Microsoft.Network/networkManagers/TestNetworkManager?force=true&api-version=2023-09-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Thu, 30 May 2024 10:23:10 GMT
=======
      - Thu, 06 Mar 2025 19:00:53 GMT
>>>>>>> upstream/main
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
<<<<<<< HEAD
      - '14999'
      x-msedge-ref:
      - 'Ref A: 8849D907AA694117AA7C9781AA947BD9 Ref B: TYO201151003036 Ref C: 2024-05-30T10:23:05Z'
=======
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
      x-msedge-ref:
      - 'Ref A: C5A654CFA03F44CB9A0B264756071EC3 Ref B: CO6AA3150219051 Ref C: 2025-03-06T19:00:52Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
version: 1
