interactions:
- request:
<<<<<<< HEAD
    body: '{"properties": {"managedResourcesNetworkAccessType": "Public"}, "tags":
      {"tag": "test", "tag2": "test2"}}'
=======
    body: '{"tags": {"TestType": "CLI"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '105'
=======
      - '29'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - -g -n --tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.63.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/AM1?api-version=2023-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/AM1","name":"AM1","type":"microsoft.workloads/sapvirtualinstances","location":"northeurope","tags":{"tag":"test","tag2":"test2"},"systemData":{"createdBy":"jasksingh@microsoft.com","createdByType":"User","createdAt":"2024-08-28T15:50:03.8060341Z","lastModifiedBy":"jasksingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-04T08:48:19.0669219Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/JASKIRAT-RG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/jaskirat-msi":{"principalId":"1ba872b3-6d24-4f92-be98-483788ce8c61","clientId":"c2a304d0-e20e-4a6c-ab20-bde972296f7f"}}},"properties":{"environment":"NonProd","sapProduct":"S4HANA","managedResourcesNetworkAccessType":"Public","configuration":{"configurationType":"DeploymentWithOSConfig","appLocation":"northeurope","infrastructureConfiguration":{"deploymentType":"ThreeTier","centralServer":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/JASKIRAT-RG-NE/providers/Microsoft.Network/virtualNetworks/JAS-VNET-NE/subnets/appsubnet","virtualMachineConfiguration":{"vmSize":"Standard_D4ds_v4","imageReference":{"sku":"86sapha-gen2","publisher":"RedHat","version":"latest","offer":"RHEL-SAP-HA"},"osProfile":{"adminUsername":"azureuser","osConfiguration":{"osType":"Linux","disablePasswordAuthentication":true,"sshKeyPair":{"publicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDCxeAIppFEIyi3yZmOmav1S0B8DrMnHr/HAB7WqwqyyeAvc4NmEkcrqw3/SSQdGCoDpfiuRF5eTJ18CuiSPHhkvJVneDTYqoQnEva9cLHZBbF/zryCYG6x2F+dDGmCSSacfNh13GbAytQ5rXnnqQMH73UdIVIoYmSszUDlxorf0p5YO1AMBsvbTe9pqmaN4VzzisXmN5cy8oPZ7JZrIAo3+JSxThc353PNOUVrv7t5BoepsAG4Y07jLtTvp7yekQKGRLndWwkfF6uqn3+pLgJlX6ymsBpT+RMwx0AqZRHBAb+8EkCMxrdhSEBIqlhojPaQeGArrnsIaURoJwiXUmymzTrWiwO7gVL9OoBscBppifoM2mElOQbOvsfLLC2w7nwBmGfHSxPd3tofqc9vl27a4uv+40HzbSgkfrivJqx79Y+GnFNvq8H38/3kdKTDxjlR5LvpNwIjeYQHqoIW4ZFKV+cp0eMXbWSeUHOk2ZrSgC3oU/4UZvHF4QYAA72rVnk=
        generated-by-azure"}}}},"instanceCount":2},"applicationServer":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/JASKIRAT-RG-NE/providers/Microsoft.Network/virtualNetworks/JAS-VNET-NE/subnets/appsubnet","virtualMachineConfiguration":{"vmSize":"Standard_D4ds_v4","imageReference":{"sku":"86sapha-gen2","publisher":"RedHat","version":"latest","offer":"RHEL-SAP-HA"},"osProfile":{"adminUsername":"azureuser","osConfiguration":{"osType":"Linux","disablePasswordAuthentication":true,"sshKeyPair":{"publicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDCxeAIppFEIyi3yZmOmav1S0B8DrMnHr/HAB7WqwqyyeAvc4NmEkcrqw3/SSQdGCoDpfiuRF5eTJ18CuiSPHhkvJVneDTYqoQnEva9cLHZBbF/zryCYG6x2F+dDGmCSSacfNh13GbAytQ5rXnnqQMH73UdIVIoYmSszUDlxorf0p5YO1AMBsvbTe9pqmaN4VzzisXmN5cy8oPZ7JZrIAo3+JSxThc353PNOUVrv7t5BoepsAG4Y07jLtTvp7yekQKGRLndWwkfF6uqn3+pLgJlX6ymsBpT+RMwx0AqZRHBAb+8EkCMxrdhSEBIqlhojPaQeGArrnsIaURoJwiXUmymzTrWiwO7gVL9OoBscBppifoM2mElOQbOvsfLLC2w7nwBmGfHSxPd3tofqc9vl27a4uv+40HzbSgkfrivJqx79Y+GnFNvq8H38/3kdKTDxjlR5LvpNwIjeYQHqoIW4ZFKV+cp0eMXbWSeUHOk2ZrSgC3oU/4UZvHF4QYAA72rVnk=
        generated-by-azure"}}}},"instanceCount":2},"databaseServer":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/JASKIRAT-RG-NE/providers/Microsoft.Network/virtualNetworks/JAS-VNET-NE/subnets/dbsubnet","virtualMachineConfiguration":{"vmSize":"Standard_E32ds_v4","imageReference":{"sku":"86sapha-gen2","publisher":"RedHat","version":"latest","offer":"RHEL-SAP-HA"},"osProfile":{"adminUsername":"azureuser","osConfiguration":{"osType":"Linux","disablePasswordAuthentication":true,"sshKeyPair":{"publicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDCxeAIppFEIyi3yZmOmav1S0B8DrMnHr/HAB7WqwqyyeAvc4NmEkcrqw3/SSQdGCoDpfiuRF5eTJ18CuiSPHhkvJVneDTYqoQnEva9cLHZBbF/zryCYG6x2F+dDGmCSSacfNh13GbAytQ5rXnnqQMH73UdIVIoYmSszUDlxorf0p5YO1AMBsvbTe9pqmaN4VzzisXmN5cy8oPZ7JZrIAo3+JSxThc353PNOUVrv7t5BoepsAG4Y07jLtTvp7yekQKGRLndWwkfF6uqn3+pLgJlX6ymsBpT+RMwx0AqZRHBAb+8EkCMxrdhSEBIqlhojPaQeGArrnsIaURoJwiXUmymzTrWiwO7gVL9OoBscBppifoM2mElOQbOvsfLLC2w7nwBmGfHSxPd3tofqc9vl27a4uv+40HzbSgkfrivJqx79Y+GnFNvq8H38/3kdKTDxjlR5LvpNwIjeYQHqoIW4ZFKV+cp0eMXbWSeUHOk2ZrSgC3oU/4UZvHF4QYAA72rVnk=
        generated-by-azure"}}}},"instanceCount":2},"highAvailabilityConfig":{"highAvailabilityType":"AvailabilitySet"},"storageConfiguration":{"transportFileShareConfiguration":{"configurationType":"Skip"}},"appResourceGroup":"PS_CLI_TF_RG"},"softwareConfiguration":{"softwareInstallationType":"SAPInstallWithoutOSConfig","bomUrl":"https://ybteststorageaccount.blob.core.windows.net/sapbitss4hana2022/sapfiles/boms/S42022SPS00_v0006ms/S42022SPS00_v0006ms.yaml","softwareVersion":"SAP
        S/4HANA 2022 ISS 00","sapBitsStorageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yb-SapInstall/providers/Microsoft.Storage/storageAccounts/ybteststorageaccount","highAvailabilitySoftwareConfiguration":{"fencingClientId":"9ec12e34-c451-4592-aad2-7078f497fd5b"}},"osSapConfiguration":{"sapFqdn":"sap.bpaas.com"}},"managedResourceGroupConfiguration":{"name":"mrg-AM1-b08a18"},"status":"Running","health":"Healthy","state":"RegistrationComplete","provisioningState":"Succeeded"}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview,
        2024-02-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fb000d45-0000-0c00-0000-66d81ed40000"'
      mise-correlation-id:
      - eb7e8fa0-20b8-4fc2-b137-6fca2625652d
=======
      - AZURECLI/2.64.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.26100-SP0)
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CL7-RG/providers/Microsoft.Workloads/sapVirtualInstances/CL7?api-version=2024-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CL7-RG/providers/Microsoft.Workloads/sapVirtualInstances/CL7","name":"CL7","type":"microsoft.workloads/sapvirtualinstances","location":"centraluseuap","tags":{"TestType":"CLI"},"systemData":{"createdBy":"jasksingh@microsoft.com","createdByType":"User","createdAt":"2024-10-16T07:19:20.2608136Z","lastModifiedBy":"jasksingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-16T11:46:58.2587807Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/vaindana-testrg-inc/providers/Microsoft.ManagedIdentity/userAssignedIdentities/manageIdentity-dc84b9":{"principalId":"ceae886b-fa54-457c-8148-79c3aa7d690b","clientId":"25883613-0b97-4493-9d33-087ffa6d5158"}}},"properties":{"environment":"NonProd","sapProduct":"S/4HANA","managedResourcesNetworkAccessType":"Public","configuration":{"configurationType":"Discovery","appLocation":"northeurope","centralServerVmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Compute/virtualMachines/cl7ascsvm","managedRgStorageAccountName":"cl7nfs998c1228a0092fb"},"managedResourceGroupConfiguration":{"name":"mrg-CL7-2d18cc"},"status":"Running","health":"Healthy","state":"RegistrationComplete","provisioningState":"Succeeded"}}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview,
        2024-02-01-preview, 2024-09-01, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200d302-0000-3300-0000-670fa7b40000"'
      mise-correlation-id:
      - ddd1fa00-abf5-4d0c-818a-fcf87decf5e5
>>>>>>> upstream/main
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-providerhub-traffic:
      - 'True'
<<<<<<< HEAD
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
      - 'Ref A: D3D7C786B35B404E8E6B615AB9263051 Ref B: MAA201060516035 Ref C: 2024-09-04T08:48:16Z'
=======
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
      x-msedge-ref:
      - 'Ref A: 486F6ADDECED4821833D7980342731EF Ref B: MAA201060513053 Ref C: 2024-10-16T11:46:55Z'
>>>>>>> upstream/main
    status:
      code: 200
      message: OK
- request:
<<<<<<< HEAD
    body: '{"tags": {"tag": "test3", "tag2": "test4"}}'
=======
    body: '{"tags": {"TestType": "CLI"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '43'
=======
      - '29'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --sap-virtual-instance-name -g -n --tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.63.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/AM1/centralInstances/cs0?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/AM1/centralInstances/cs0","name":"cs0","type":"microsoft.workloads/sapvirtualinstances/centralinstances","location":"northeurope","tags":{"tag":"test3","tag2":"test4"},"systemData":{"createdBy":"ea21b132-560f-4b0b-9876-903b6bca7b9d","createdByType":"Application","createdAt":"2024-08-28T15:50:08.1964076Z","lastModifiedBy":"jasksingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-04T08:48:23.801344Z"},"properties":{"subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/JASKIRAT-RG-NE/providers/Microsoft.Network/virtualNetworks/JAS-VNET-NE/subnets/appsubnet","status":"Running","health":"Healthy","loadBalancerDetails":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Network/loadBalancers/am1-ASCS-loadBalancer"},"vmDetails":[{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Compute/virtualMachines/am1ascsvm1","type":"Secondary"},{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Compute/virtualMachines/am1ascsvm0","type":"Primary"}],"provisioningState":"Succeeded","instanceNo":"00","messageServerProperties":{"ipAddress":"10.0.0.102","health":"Healthy"},"enqueueServerProperties":{"ipAddress":"10.0.0.102","health":"Healthy"},"gatewayServerProperties":{"health":"Healthy"}}}'
=======
      - AZURECLI/2.64.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.26100-SP0)
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CL7-RG/providers/Microsoft.Workloads/sapVirtualInstances/CL7/centralInstances/cl7ascsvm-0?api-version=2024-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CL7-RG/providers/Microsoft.Work[...]
- request:
<<<<<<< HEAD
    body: '{"tags": {"tag": "test5", "tag2": "test6"}}'
=======
    body: '{"tags": {"TestType": "CLI"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '43'
=======
      - '29'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --sap-virtual-instance-name -g -n --tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.63.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
    method: PATCH
    uri:[...]
- request:
<<<<<<< HEAD
    body: '{"tags": {"tag": "test7", "tag2": "test8"}}'
=======
    body: '{"tags": {"TestType": "CLI"}}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '43'
=======
      - '29'
>>>>>>> upstream/main
      Content-Type:
      - application/json
      ParameterSetName:
      - --sap-virtual-instance-name -g -n --tags
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.63.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
    method: PATCH
    uri:[...]
