interactions:
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001?api-version=2025-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001","name":"cli000001","type":"microsoft.edge/schemas","location":"eastus2euap","systemData":{"createdBy":"audapure@microsoft.com","createdByType":"User","createdAt":"2025-05-29T11:27:59.0822896Z","lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-29T11:27:59.0822896Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600fd80-0000-3300-0000-683844c00000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"version": "1.0.0", "schemaVersion": {"properties": {"value": "rules:\n  configs:\n    TemperatureThreshold:\n      type:
      float\n      required: true\n      editableAt:\n        - line\n      editableBy:\n        -
      OT\n      defaultValue: 80\n    PressureThreshold:\n      type: float\n      required:
      true\n      editableAt:\n        - line\n      editableBy:\n        - OT\n      defaultValue:
      8\n    ViscosityThreshold:\n      type: float\n      required: true\n      editableAt:\n        -
      line\n      editableBy:\n        - IT\n    ErrorThreshold:\n      type: float\n      required:
      true\n      editableAt:\n        - line\n      editableBy:\n        - IT\n    EnableDebug:\n      type:
      boolean\n      required: false\n      editableAt:\n        - factory\n      editableBy:\n        -
      IT\n"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001/createVersion?api-version=2025-01-01-preview
  response:
    body:
      string: 'null'
    headers:
      api-supported-versions:
      - 2024-06-01-preview, 2024-08-01-preview, 2025-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/d7d59f11-384f-4b60-96f4-a835758b521f*7EEA5722ED63D7E264A741494744538C537124F412E7C92766055BDE7A5E44E1?api-version=2023-07-01-preview&t=638841148837836099&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE5MTE1MzU0WhcNMjUxMDE2MTE1MzU0WjBAM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Edge/locations/EASTUS2EUAP/operationStatuses/d7d59f11-384f-4b60-96f4-a835758b521f*7EEA5722ED63D7E264A741494744538C537124F412E7C92766055BDE7A5E44E1?api-version=2023-07-01-preview&t=638841148837836099&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas?api-version=2025-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/UI-SS","name":"UI-SS","type":"microsoft.edge/schemas","location":"eastus2euap","systemData":{"createdBy":"audapure@microsoft.com","createdByType":"User","createdAt":"2025-02-26T05:41:33.933982Z","lastModifiedBy":"audapure@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-26T06:00:35.065624Z"},"properties":{"provisioningState":"Succeeded","currentVersion":"1.0.0"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/UI-MK67Schema","name":"UI-MK67Schema","type":"microsoft.edge/schemas","location":"eastus2euap","tags":{},"systemData":{"createdBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","createdByType":"Application","createdAt":"2025-02-26T05:59:18.0078761Z","lastModifiedBy":"cba491bc-48c0-44a6-a6c7-23362a7f54a9","lastModifiedByType":"Application","lastModifiedAt":"2025-02-26T05:59:18.0078761Z"},"properties":{"currentVersion":"1.0.0","provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schem[...]
- request:
    body: '{"version": "1.0.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ConfigManager-CloudTest-Playground-Portal/providers/Microsoft.Edge/schemas/cli000001/removeVersion?api-version=2025-01-01-preview
  response:
    body:
      string: '{"status":"Deletion Succeeded"}'
    headers:
      api-supported-versions:
      - 2024-06-01-preview, 2024-08-01-preview, 2025-01-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 8bf61226-1fea-435c-9a8e-faf886418193
      servertime:
      - 948 ms
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
