interactions:
- request:
    body: ''
    headers:
<<<<<<< HEAD
      - python-httpx/0.27.0
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/me-token-to-replace/extensions
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(''40523ce8-82a4-4362-b93a-7dfd212edd4c'')/extensions","value":[{"@odata.type":"#microsoft.graph.openTypeExtension","extension_name":"com.nexusidentity.keys","publicKey":"sk-ssh-ed25519@openssh.com
        AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJet7nknqBQpavVf6gjjjlcHUfckuGI4eZDJxG4tlSSHAAAABHNzaDo=
        fareast\\jtamma@DESKTOP-QDMRQ39\n","id":"com.nexusidentity.keys"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
=======
      - python-httpx/0.28.1
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/me-token-to-replace
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Rishabh
        Puri","givenName":"Rishabh","jobTitle":"PRINCIPAL SWE MANAGER","mail":"rishabh.puri@microsoft.com","mobilePhone":null,"officeLocation":"HYD
        CAMPUS 4/Mobile","preferredLanguage":null,"surname":"Puri","userPrincipalName":"rishabhpuri@microsoft.com","id":"fa1b1940-caf0-45a5-b65b-aac7439f3691"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
>>>>>>> upstream/main
      strict-transport-security:
      - max-age=31536000
      vary:
      - Accept-Encoding
      x-ms-ags-diagnostic:
<<<<<<< HEAD
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000002CB"}}'
=======
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000003AE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"@odata.type": "microsoft.graph.openTypeExtension", "extension_name":
<<<<<<< HEAD
      "com.nexusidentity.keys", "publicKey": "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIJet7nknqBQpavVf6gjjjlcHUfckuGI4eZDJxG4tlSSHAAAABHNzaDo=
      fareast\\jtamma@DESKTOP-QDMRQ39\n"}'
=======
      "com.nexusidentity.keys", "publicKey": "sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAINdFNXac4qffKcuh/J50h267lZ/7J3HkB9jvl33/zae/AAAABHNzaDo=
      fareast\\rishabhpuri@RishabhPuriMsft\n"}'
>>>>>>> upstream/main
    headers:
<<<<<<< HEAD
      - '274'
=======
      - '279'
>>>>>>> upstream/main
      content-type:
      - application/json
      host:
      - graph.microsoft.com
      user-agent:
<<<<<<< HEAD
      - python-httpx/0.27.0
=======
      - python-httpx/0.28.1
>>>>>>> upstream/main
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/users/me-token-to-replace/extensions/com.nexusidentity.keys
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Mon, 03 Jun 2024 20:35:57 GMT
      request-id:
      - e5612a3d-5086-4e68-873d-7c8f4f5a573e
      strict-transport-security:
      - max-age=31536000
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000002BF"}}'
    status:
      code: 204
      message: No Content
version: 1
=======
      - Tue, 18 Feb 2025 08:05:52 GMT
      request-id:
      - 6c947417-25c5-4bc7-bc7c-bd98c0ba2589
      strict-transport-security:
      - max-age=31536000
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000003AE"}}'
    status:
      code: 204
      message: No Content
version: 1
>>>>>>> upstream/main
